body{
    background-color: #fdffb6;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    padding-top: 10px;
}

.multicolortext {
    background-image: linear-gradient(to right, violet, rgb(195, 72, 219), cornflowerblue, green, violet, orange, #00d4ff, #be3fcd);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size:30px;
  }

/* @import url("Week-11-JQuery_and_AJAX/tic-tac-toe/Nebulo Demo.ttf"); */



  @font-face { 
    font-family: "nebulo"; 
    src: url("./Nebulo Demo.ttf"); 
} 

h1{
    /* color: #177f94; */
    color:#00d4ff;
    margin-top: 14px;
    margin-bottom: 32px;
    font-size: 30px;
    font-weight: 400px;
    /* font-family: 'nebulo'; */
}

#game-board {
    height: 380px;
    width: 380px;
    display: grid;
    flex-wrap:wrap;
    /* background-image: linear-gradient(to bottom right, cornflowerblue, purple); */
    background-image: radial-gradient(circle, #00d4ff 0%, #ae35bb 110%);
    position: relative;
    margin-bottom: 50px;
    z-index:0;
    /* justify-content: center;
    align-content: center; */
    
    }

.cell {
    width: 120px;
    height: 120px;
    background-color:#fdffb6;
    display:flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    /* border-radius: 0.5rem; */
    /* position:relative; */
    /* justify-content:center;
    align-content:center; */
    z-index:1;
}


#cell-1 {top:0; left:0;}
#cell-2 {top:0; left:130px;}
#cell-3 {right:0; top:0;}
#cell-4 {left:0; top:130px;}
#cell-5 {top:130px; left:130px;}
#cell-6 {top:130px; right:0;}
#cell-7 {left:0; bottom:0;}  
#cell-8 {left:130px; bottom:0;} 
#cell-9 {right:0; bottom:0;}   


button{
    width: 86px;
    height: 26px;
    margin-top: 40px;
    margin: 40px;
   
    border-style: solid;
    background-color:#fdffb6;
    border-color: #f0609d;
    border-width: 2px;
    border-radius: 10px;
    place-content: center;
    font-size:small;
    font-weight:500;
    color:#276a1a;
    z-index: 1;
 }



img { 
width: 110px;
height:110px;
}

#butterfly {
    filter: brightness(120%);

   

    /* background-color:#00d4ff; */
}

#flower {
    filter: brightness(90%);
   
}


#snail {
    transform: scaleX(-1);
    height: 80px;
    width: 110px;
    margin-top: -135px;
}





/* text-decoration-thickness: 50px; */

/* background-color:rgb(246, 221, 109);
color:#6531b4;
z-index:2;
padding: 0; */
/* display:flex; */
/* position: absolute;
place-self:center;
align-self:center; */
/* top:15px;
right:15px; */
/* filter: invert(100%);
-webkit-filter: invert(100%); */




 



/* justify-content:center;
align-content:center;  
} */

/* #y{
    width:140px;
    height:140px;
    background-color:rgb(246, 221, 109);
    color:#6531b4;
    z-index:1000;
    display:flex;
    position:relative;
    justify-content:center;
    align-content:center; 
} */




 

  

